<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PLUGINDEV"
            id="com.plugindev.addressbook">
      </category>
      <view
            name="地址本视图"
            icon="icons/sample.gif"
            category="com.plugindev.addressbook"
            class="com.plugindev.addressbook.views.AddressView"
            id="com.plugindev.addressbook.views.AddressView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.plugindev.addressbook.actionSet"
            label="地址本操作"
            visible="true">
         <menu
               id="AddressBookMenu"
               label="地址本">
            <separator name="content"/>
         </menu>
         <action
               class="com.plugindev.addressbook.actions.OpenAddressViewAction"
               definitionId="com.plugindev.addressbook.commands.openAddressView"
               icon="icons/sample.gif"
               id="com.plugindev.addressbook.actions.OpenAddressViewAction"
               label="打开视图"
               menubarPath="AddressBookMenu/content"
               toolbarPath="Normal/addition"
               tooltip="在当前透视图中打开地址本视图"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.plugindev.addressbook.example.objectActionTest"
            nameFilter="Three"
            objectClass="java.lang.String">
         <menu
               id="exampleMenu"
               label="示例菜单"
               path="additions">
            <separator name="example"/>
         </menu>
         <action
               class="com.plugindev.addressbook.example.ObjExampleAction"
               enablesFor="1"
               id="com.plugindev.addressbook.objExampleAction"
               label="对象示例操作"
               menubarPath="exampleMenu/example"
               tooltip="举例说明如何添加对象操作"/>
      </objectContribution>
      <viewerContribution
            id="com.plugindev.addressbook.example.viewerActionTest"
            targetID="com.plugindev.addressbook.views.AddressView">
         <menu
               id="com.plugindev.viewToolbarMenu"
               label="示例工具栏菜单"
               path="additions">
            <separator name="example"/>
         </menu>
         <action
               class="com.plugindev.addressbook.example.ViewerExampleAction"
               enablesFor="+"
               id="com.plugindev.addressbook.viewerExampleAction"
               label="查看器示例操作"
               menubarPath="com.plugindev.viewToolbarMenu/example"
               tooltip="举例说明如何添加查看器操作"/>
      </viewerContribution>
      <viewerContribution
            id="com.plugindev.addressbook.example.editorActionTest"
            targetID="#TextEditorContext">
         <menu
               id="com.plugindev.defaultEditorMenu"
               label="示例编辑器菜单"
               path="additions">
            <separator name="example"/>
         </menu>
         <action
               class="com.plugindev.addressbook.example.EditorExampleAction"
               icon="icons/sample.gif"
               id="com.plugindev.addressbook.editorExampleAction"
               label="编辑器操作"
               menubarPath="com.plugindev.defaultEditorMenu/example"
               tooltip="举例说明如何添加编辑器操作"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.plugindev.addressbook.example.viewActionTest"
            targetID="com.plugindev.addressbook.views.AddressView">
         <action
               class="com.plugindev.addressbook.example.ViewExampleAction"
               icon="icons/sample.gif"
               id="com.plugindev.addressbook.viewExampleAction"
               label="视图操作"
               menubarPath="com.plugindev.addressViewPullDownMenu/example"
               style="push"
               toolbarPath="additions"
               tooltip="举例说明如何添加视图操作"/>
         <menu
               id="com.plugindev.addressViewPullDownMenu"
               label="下拉菜单示例"
               path="addtions">
            <separator name="example"/>
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.plugindev.addressbook.example.editorActionTest"
            targetID="org.eclipse.ui.DefaultTextEditor">
         <menu
               id="com.plugindev.defaultEditorMenu"
               label="顶层编辑器菜单"
               path="additions">
            <separator name="example"/>
         </menu>
         <action
               class="com.plugindev.addressbook.example.TopEditorAction"
               icon="icons/sample.gif"
               id="com.plugindev.addressbook.TopEditorAction"
               label="顶层编辑操作"
               menubarPath="com.plugindev.defaultEditorMenu/example"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="编辑器操作示例"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="地址本插件添加的命令"
            id="com.plugindev.addressbook.commands"
            name="地址本"/>
      <command
            categoryId="com.plugindev.addressbook.commands"
            description="打开地址本视图"
            id="com.plugindev.addressbook.commands.openAddressView"
            name="打开地址本"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.plugindev.addressbook.commands.openAddressView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+V"/>
   </extension>

</plugin>

