<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="HelloGEF Editor"
            extensions="hellogef"
            icon="icons/sample.gif"
            contributorClass="hellogef.action.DiagramActionBarContributor"
            class="hellogef.editors.HelloEditor"
            id="hellogef.editors.HelloEditor">
      </editor>
   </extension>

</plugin>
